@import 'variables';

@import 'mixins';

/* Styling Section-5 (Video) */

.section5 {
    padding: 50px;

    h1 {
        color: $secondary-color;
        font-size: 42px;
        font-family:$heading-font;
    }
}

.grid-video {
    @include grid-mixin(8);
    grid-row: 6;
    padding-top: 50px;

    .grid-1 {
        grid-row: 3/5;
        grid-column: 1/4;
    }
    
    .grid-2 {
        top: -50px;
        right: -40px;
        grid-row: 2/7;
        grid-column: 4/9;
    }
    
    .grid-3 {
        grid-row: 1/4;
        grid-column: 4/7;
    }
    
    .grid-4 {
        grid-row: 4/7;
        grid-column: 3/5;
    }
}

.lightBlue {
    color: $primary-color;
}

video {
    margin: 100px;
    border-radius: 30px;
}