@import 'variables';

@import 'mixins';

/* Styling Section 3 (Featured Apartmens) */

.section3 {
    margin-bottom: 50px;
}

.featured-list {
    float: left;
    @include shadow-mixin(20px, 20px);
    padding: 10px;
    max-width: min-content;
    max-height: min-content;
    margin: 20px;

    img {
        border-radius: 20px;
        width: 360px;
        height: 200px;
    }

    h2 {
        color: $primary-color;
    }

    h3 {
        color: black;
    }
}

.tags {
    position: absolute;

    .km-tag {
        background: gray;
        display: inline-block;
        margin: 10px;
        color: white;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 10px;
    }
    
    .for-tag {
        background: rgb(85, 184, 85);
        display: inline-block;
        margin-left: 160px;
        color: white;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
    }
}

.red-icon {
    color: rgb(233, 96, 72);
}

.apt-card > div {
    background-color: #f8f8f8;
    padding: 0 5px;
    font-size: 15px;
    line-height: 0;
    float: left;
}

.icons {
    margin: 15px 10px;

    i {
        font-size: 24px;
    }
}

i {
    padding: 2px;
    font-size: 20px;
}

.ellips {
    width: min-content;
    margin: 0 auto;

    i {
        font-size: 96px;
        color: #ebebeb;
    }
}